<div class="content-wrapper">
  <div [class]="'container ' + containerClass">
    <div class="row">
      <!-- SIGN UP -->
      <div class="col align-items-center flex-col sign-up">
        <div class="form-wrapper align-items-center">
          <div class="form sign-up">
            <div class="input-group">
              <input type="text" placeholder="Username">
            </div>
            <div class="input-group">
              <input type="email" placeholder="Email">
            </div>
            <div class="input-group">
              <input type="password" placeholder="Password">
            </div>
            <div class="input-group">
              <input type="password" placeholder="Confirm password">
            </div>
            <button>Sign Up</button>
            <p>
              <span>Already have an account?</span>
              <b (click)="toggleForm()" class="pointer">Sign in here</b>
            </p>
          </div>
        </div>
      </div>

      <!-- SIGN IN -->
      <div class="col align-items-center flex-col sign-in">
        <div class="form-wrapper align-items-center">
          <div class="form sign-in">
            <form [formGroup]="loginForm" (ngSubmit)="onLoggedIn()">
              <div class="input-group">
                <input type="text" placeholder="Username" formControlName="username">
                <div *ngIf="f['username']?.hasError('required') && (f?.['username']?.touched || submitted)"
                  style="color: red; font-size: 12px; text-align: left; padding-left: 10px;">
                  Username is required
                </div>
              </div>

              <div class="input-group">
                <input type="password" placeholder="Password" formControlName="password">
                <div *ngIf="f['password']?.hasError('required') && (f?.['password']?.touched || submitted)"
                  style="color: red; font-size: 12px; text-align: left; padding-left: 10px;">
                  Password is required
                </div>
              </div>
              <button>Sign In</button>
              <div class="text-danger mt-2" style="background-color: bisque" *ngIf="loginFailed">
                Login Failed: {{ username_msg ? username_msg : pwd_msg }}
              </div>
              <p>
                <b>Forgot password?</b>
              </p>
              <p>
                <!-- <span>Don't have an account?</span> -->
                <!-- <b (click)="toggleForm()" class="pointer">Sign up here</b> -->
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>