<!-- Footer -->
<footer class="footers">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-about">
                        <div class="footer-logo mb-3">
                            <img src="assets/img/BMN-3.png" alt="Nursing Station, Home Nursing Services, Home Care Treatments" class="img-fluid rounded" width="240">
                        </div>
                        <div class="footer-about-content">
                            <p class="mb-3" style="font-size: 19px; font-weight: bold;">India’s First Multi-Speciality <br> Home Nursing Care Treatments provider.</p>
                            <div class="social-icon mt-5"> <!-- Increased margin-top here -->
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.facebook.com/Nursingstation" target="_blank" class="text-decoration-none">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://x.com/station_nursing" target="_blank" class="text-decoration-none">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.linkedin.com/company/nursing-station-homenursing-pvt-ltd" target="_blank" class="text-decoration-none">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.instagram.com/nursingstationindia/" target="_blank" class="text-decoration-none">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.youtube.com/channel/UC63OwJtwU6F_H9NBPZIB8wA" target="_blank" class="text-decoration-none">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title mb-3">For Patients</h2>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="#home"><i class="fas fa-angle-double-right me-2"></i>Home</a>
                            </li>
                            <li class="mb-2">
                                <a href="login.html"><i class="fas fa-angle-double-right me-2"></i>Login</a>
                            </li>
                            <li class="mb-2">
                                <a href="register.html"><i class="fas fa-angle-double-right me-2"></i>Register</a>
                            </li>
                            <li class="mb-2">
                                <a href="booking.html"><i class="fas fa-angle-double-right me-2"></i>Booking</a>
                            </li>
                            <li class="mb-2">
                                <a href="patient-dashboard.html"><i class="fas fa-angle-double-right me-2"></i>Patient Dashboard</a>
                            </li>
                            <li class="mb-2">
                                <a href="privacy-policy.html"><i class="fas fa-angle-double-right me-2"></i>Privacy&Policy</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title mb-3">Admin Login</h2>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <a href="appointments.html"><i class="fas fa-angle-double-right me-2"></i>Appointments</a>
                            </li>
                            <li class="mb-2">
                                <a href="chat.html"><i class="fas fa-angle-double-right me-2"></i>Chat</a>
                            </li>
                            <li class="mb-2">
                                <a href="login.html"><i class="fas fa-angle-double-right me-2"></i>Login</a>
                            </li>
                            <li class="mb-2">
                                <a href="doctor-register.html"><i class="fas fa-angle-double-right me-2"></i>Register</a>
                            </li>
                            <li class="mb-2">
                                <a href="Services.html"><i class="fas fa-angle-double-right me-2"></i>Services</a>
                            </li>
                            <li class="mb-2">
                                <a href="terms-condition.html"><i class="fas fa-angle-double-right me-2"></i>Terms and Condition</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                    
                </div>
                
                <div class="col-lg-3 col-md-6">
                
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title mb-3">Contact Us</h2>
                        <!-- <div class="footer-logo mb-3">
                            <img src="assets/img/BMN-3.png" alt="Nursing Station, Home Nursing Services, Home Care Treatments" class="img-fluid" width="240">
                        </div> -->
                        <div class="footer-contact-info">
                        <div class="Bmn">
                        <p class="geetha mb-2">
                                <a href="BookMyNurse Powered by NursingStation" class="foot-number">BookMyNurse <br>Powered by NursingStation</a>
                            </p>
                        </div>
                            <div class="footer-address mb-3">
                                <span><i class="fas fa-map-marker-alt me-2"></i></span>
                                <p class="geetha mb-0">
                                    Geethalaya Apartments,<br>
                                    <span>77, G-Block, 12th Street,</span><br>
                                    <span>2nd Floor, Anna Nagar East,</span><br>
                                    <span>Chennai-600102</span>
                                </p>
                            </div>
                            <p class="geetha mb-2">
                                <i class="fas fa-phone-alt me-2"></i>
                                <a href="tel:9944334454" class="foot-number">99 44 33 44 54</a>
                            </p>
                            <p class="geetha mb-0">
                                <i class="fa fa-envelope me-2"></i>
                                <a href="mailto:care@nursingstation.info" class="foot">
                                    Care<span class="foot-at"></span>NursingStation<span class="foot-dot">.</span>In
                                </a>
                            </p>
                             <!-- Mobile App Button -->
                    <div class="footer-widget footer-app">
                        <a href="bookmynurse.apk" class="app-btn" target="_blank">
                        <i class="fab fa-android"></i> <span>Download our Mobile App</span>
                        </a>
                        </div>
                    </div>
                                                    
                    <!-- /Footer Widget -->
                    
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->
    
    <!-- Footer Bottom -->
    <!-- <div class="footer-bottom">
        <div class="container-fluid"> -->
          <!-- Footer Content -->
          <!-- <div class="text-center py-6">
            <div class="row justify-content-center">
              <div class="col-lg-2 col-md-3 col-sm-3 text-center">
                <p><a class="Privacy" href="privacy-policy.html">Privacy Policy</a></p>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-3 text-center">
                <p><a class="terms-condition" href="terms-condition.html">Terms and Use</a></p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
            <!-- Bottom Line and Footer Text -->
            <hr style="width: 100%; border: 1px solid #000; margin: 0;">
            <div class="copyright-area">
                <p class="geetha text-center">
                    Designed and Developed By 
                    <a href="https://www.resq.sg/" class="resq-link" rel="nofollow">ResQ</a>
                </p>
            </div>											
        </div>
    <!-- </div> -->
    <!-- /Footer Bottom -->
    
</footer>
