<footer class="footers">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo mb-3">
                            <img src="assets/img/BMN-3.png"
                                alt="Nursing Station, Home Nursing Services, Home Care Treatments"
                                class="img-fluid rounded" width="240">
                        </div>
                        <div class="footer-about-content">
                            <p class="mb-3" style="font-size: 19px; font-weight: bold;">India’s First Multi-Speciality
                                <br> Home Nursing Care Treatments provider.</p>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title mb-3">Contact Us</h2>
                        <div class="footer-contact-info">
                            <p class="geetha mb-2">
                                <i class="fas fa-phone-alt me-2"></i>
                                <a href="tel:9944334454" class="foot-number">99 44 33 44 54</a>
                            </p>
                            <p class="geetha mb-0">
                                <i class="fa fa-envelope me-2"></i>
                                <a href="mailto:care@nursingstation.info" class="foot">
                                    Care<span class="foot-at"></span>NursingStation<span class="foot-dot">.</span>In
                                </a>
                            </p>
                            <div class="social-icon mt-3">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.facebook.com/Nursingstation" target="_blank"
                                            class="text-decoration-none">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://x.com/station_nursing" target="_blank"
                                            class="text-decoration-none">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.linkedin.com/company/nursing-station-homenursing-pvt-ltd"
                                            target="_blank" class="text-decoration-none">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item" style="margin-right: 30px;">
                                        <a href="https://www.instagram.com/nursingstationindia/" target="_blank"
                                            class="text-decoration-none">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.youtube.com/channel/UC63OwJtwU6F_H9NBPZIB8wA"
                                            target="_blank" class="text-decoration-none">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title mb-3">Address</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address mb-3">
                                <span><i class="fas fa-map-marker-alt me-2"></i></span>
                                <p class="geetha mb-0">
                                    Geethalaya Apartments,<br>
                                    <span>77, G-Block, 12th Street,</span><br>
                                    <span>2nd Floor, Anna Nagar East,</span><br>
                                    <span>Chennai-600102</span>
                                </p>
                            </div>

                            <div class="footer-widget footer-app mb-2">
                                <a href="assets/bookmynurse.apk" class="app-btn" target="_blank">
                                    <i class="fab fa-android"></i> <span>Download our Mobile App</span>
                                </a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>


        <hr style="width: 100%; border: 1px solid #000; margin: 0;">
        <div class="copyright-area">
            <p class="geetha text-center">
                Designed and Developed By
                <a href="https://www.resq.sg/" class="resq-link" rel="nofollow">ResQ</a>
            </p>
        </div>
    </div>


</footer>