<header class="headers">
    <nav class="navbar-expand-lg header-navs">
        <div class="navbar-header">
            <a routerLink="HomeBMN.html" class="navbar-brand logo">
                <img src="assets/img/BMN-3.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a routerLink="HomeBMN.html" class="menu-logo">
                    <img src="assets/img/NS-FooterLogo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" routerLink="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
							<li>
								<a href="#home"><b>Home</b></a>
							</li>
							<li>
								<a class="page-scroll" href="#aboutus"><b>About Us</b></a>
							</li>
							<li>
								<a class="page-scroll" href="#services"><b>Services</b></a>
							</li>
							<li>
								<a routerLink="page/nurseregistrationform"><b>Registration</b></a>
							</li>							
							<li>
								<a href="assets/bookmynurse.apk"target="_blank"><b>Download</b></a>
							</li>
							<li>
								<a routerLink="/login" target="_blank"><b>Admin Login</b></a>
							</li>
							<li class="login-link">
								<a routerLink="page/login"><b>Login/Signup</b></a>
							</li>
						</ul>		 
        </div>		 
    </nav>
</header>